@model IEnumerable<Taxi.DataAccessLayer.Entites.User>

@{
    ViewData["Title"] = "‌لیست کاربران ها";
    Layout = "~/Views/Shared/AdminPanel/_AdminPanelLayout.cshtml";
}




<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row g-4 mb-4">
            <div class="col-sm-6 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-start justify-content-between">
                            <div class="content-left">
                                <span>Session</span>
                                <div class="d-flex align-items-center my-1">
                                    <h4 class="mb-0 me-2">21,459</h4>
                                    <span class="text-success">(+29%)</span>
                                </div>
                                <span>Total Users</span>
                            </div>
                            <span class="badge bg-label-primary rounded p-2">
                                <i class="ti ti-user ti-sm"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-start justify-content-between">
                            <div class="content-left">
                                <span>Paid Users</span>
                                <div class="d-flex align-items-center my-1">
                                    <h4 class="mb-0 me-2">4,567</h4>
                                    <span class="text-success">(+18%)</span>
                                </div>
                                <span>Last week analytics </span>
                            </div>
                            <span class="badge bg-label-danger rounded p-2">
                                <i class="ti ti-user-plus ti-sm"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-start justify-content-between">
                            <div class="content-left">
                                <span>Active Users</span>
                                <div class="d-flex align-items-center my-1">
                                    <h4 class="mb-0 me-2">19,860</h4>
                                    <span class="text-danger">(-14%)</span>
                                </div>
                                <span>Last week analytics</span>
                            </div>
                            <span class="badge bg-label-success rounded p-2">
                                <i class="ti ti-user-check ti-sm"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-start justify-content-between">
                            <div class="content-left">
                                <span>Pending Users</span>
                                <div class="d-flex align-items-center my-1">
                                    <h4 class="mb-0 me-2">237</h4>
                                    <span class="text-success">(+42%)</span>
                                </div>
                                <span>Last week analytics</span>
                            </div>
                            <span class="badge bg-label-warning rounded p-2">
                                <i class="ti ti-user-exclamation ti-sm"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" dir="rtl">
            <div class="card-datatable table-responsive">
                <table class="table border-top">
                    <thead>
                        <tr>
                            <th scope="col">@Html.DisplayNameFor(Model => Model.UserName)</th>
                            <th scope="col">@Html.DisplayNameFor(Model => Model.Role.Title)</th>
                            <th scope="col">@Html.DisplayNameFor(Model => Model.IsActive)</th>
                            <th scope="col">@Html.DisplayNameFor(Model => Model.Wallet)</th>
                            <th scope="col" class="text-center mr-3">عملیات</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(Model => item.UserName)</td>
                                <td>@Html.DisplayFor(Model => item.Role.Title)</td>
                                <td>
                                    @if (item.IsActive == true)
                                    {
                                        <span class="text-bg-success"> فعال  </span>
                                    }
                                    else
                                    {
                                        <span class="text-bg-danger">  غیر  فعال</span>
                                    }


                                </td>
                                <td>@Html.DisplayFor(Model => item.Wallet)</td>
                                <td class="text-center">

                                    @if (item.Role.Name == "driver")
                                    {
                                        <a href="" class="btn btn-info ms-1">
                                            <i class="fa fa-user-circle"></i>
                                        </a>
                                        <a href="/User/DriverProp/@item.Id" class="btn btn-primary ms-1">
                                            <i class="fa fa-image"></i>
                                        </a>
                                        <a href="" class="btn btn-default ms-1">
                                            <i class="fa fa-car"></i>
                                        </a>
                                    }
                                    <a href="/User/Delete/@item.Id" class="btn btn-danger ms-1"><i class="fa fa-trash"></i></a>
                                    <a href="/User/Edite/@item.Id" class="btn btn-warning"> <i class="fa fa-edit"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- / Content -->


    <div class="content-backdrop fade"></div>
</div>